.heading1{
    display: flex;
    justify-content: center;
    justify-items: center;

}


.button{
    justify-content: center;
    justify-items: center;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;


}

.box{
    display: flex;
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    gap: 1.5vmin;

    
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    background-color: aqua;
    color:red;
    font-size: 75px;
}


.container{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.resetbtn{
    height: 30px;
     display: flex;
    justify-content: center;
    justify-items: center;
    width: 70px;
    justify-items: center;
    transform: translateX(700px);
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
    font-size: 1rem;
}

body{
    background-color: black;
}

.message{
    display: flex;
    justify-content: center;
    text-align: center;
    animation: colorshift 3s infinite;
    font-size: 50px;
}
@keyframes colorshift {
    20% {color: red;}
    25% {color: blue;}
    50% {color: green;}
}

.rest{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 500px;
}
    
:hover.resetbtn{
    color: rgb(214, 12, 12);
    font-display: bold;
}
    


